.sidebarOption {
    color: rgb(255, 255, 255);
    height: 30px;
    cursor: pointer;
    transition: 200ms color ease-in; /*this is for the hover effect*/
    display: flex;
    align-items: center;
}

.sidebarOption:hover {
    opacity: 0.9;
    color: white;
}

.sidebarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}