.sidebar{
    height: 100vh;
    flex: 0.2;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
}

.sidebar_logo {
object-fit: contain;/*this is to make the logo fit in the sidebar keeps the ratio çözünürlüğü ayarlar */
height: 70px;
weight: 100px;
padding: 10px;
margin-right: auto;
}